# Chapter 2: Variables and and Simple Data Types
* A variable name is an **identifier**. 
* May consist of letters, digits and underscores (`_`) but may not begin with a digit. 
* Python is _case sensitive_. 
* Each value in Python has a type that indicates the kind of data the value represents.

####  Statement creates `x` and uses the **assignment symbol (`=`)** to give `x` a value.

In [1]:
x=5
print(x)

5

### Print a message

In [83]:
print("I like butterflies")

I like butterflies

In [84]:
print("This is a coding class")

This is a coding class

### Try to print a Simple Message: Store a message in a variable, and then print that message.

In [2]:
message="i like butterflies!"
print(message)

i like butterflies!

# Strings

## A string is simply a series of characters. Anything inside quotes is considered a string in Python, and you can use `single` or `double quotes` around your strings
### "This is a string."
### 'This is also a string.'

###  Build in String methods
Directory: dir('  ')

In [3]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
# make uppercase
message="Python ProGramMing LanGuaGe"
print(message.upper())

PYTHON PROGRAMMING LANGUAGE

In [5]:
# make lowercase
print(message.lower())

python programming language

In [6]:
# capitalize

print(message.capitalize())

Python programming language

In [7]:
# title
print(message.title())

Python Programming Language

In [8]:
# Concatination
print("Welcome to "+ " " + message.lower())

Welcome to  python programming language

In [9]:
#print("Wwelcome to " + " " + 150)

In [10]:
# length
print(message)

Python ProGramMing LanGuaGe

In [11]:
len(message)

27

## Practice1:
1. Personal Message: Store a person’s name in a variable, and print a message
to that person. Your message should be simple, such as, “Hello Eric,
would you like to learn some Python today?”
2. Name Cases: Store a person’s name in a variable, and then print that person’s
name in lowercase, uppercase, and titlecase.

In [12]:
name= "Eric"
message= "would you like to learn some Python today"
print("Hello" + " " + name + " " +message)

Hello Eric would you like to learn some Python today

In [13]:
print(name.lower())

eric

In [14]:
print(name.upper())

ERIC

In [15]:
print(name.title())

Eric

## Adding Whitespace to Strings with Tabs or Newlines or  quotation
* A backslash (`\`) in a string is the **escape character**. 
* The backslash and the character immediately following it form an **escape sequence**. 

#### 2.4.2 Other Escape Sequences
| Escape sequence | Description
| :------- | :------------
| `\n` | Insert a newline character in a string. When the string is displayed, for each newline, move the screen cursor to the beginning of the next line. 
| `\t` | Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop. 
| `\\` | Insert a backslash character in a string.
| `\"` | Insert a double quote character in a string.
| `\'` | Insert a single quote character in a string.

In [16]:
print("insert a newline character in a string.\n When the string is displayed,\n for each newline, \n move the screen cursor to the beginning of the next line.")

insert a newline character in a string.
 When the string is displayed,
 for each newline,
 move the screen cursor to the beginning of the next line.

In [17]:
print("Insert a horizontal tab.\t When the string is displayed, for each tab,\tmove the screen cursor to the next tab stop.")

Insert a horizontal tab.	 When the string is displayed, for each tab,	move the screen cursor to the next tab stop.

In [18]:
print("List of chapters: \n\tString \n\tList \n\tControlStructure \n\tDictionary ")

List of chapters:
	String
	List
	ControlStructure
	Dictionary

In [19]:
print("This is eric\'s house")

This is eric's house


## Useful methods for split a string

* the split() method splits a string into a list.
* you can specify the seperator, default seperator is any whitespace

In [20]:
new_message= message.title()
print(new_message)

Would You Like To Learn Some Python Today

In [21]:
new_message.split(sep= " ") #ideal case

['Would', 'You', 'Like', 'To', 'Learn', 'Some', 'Python', 'Today']

In [22]:
new_message.rsplit(sep= " P")

['Would You Like To Learn Some', 'ython Today']

## Useful methods for strip a string
- lstrip
- rstrip
- strip

In [23]:
new_message

'Would You Like To Learn Some Python Today'

In [24]:
new_message.rstrip("Learn")

'Would You Like To Learn Some Python Today'

In [25]:
message2="Python Programming Langauge"

In [26]:
message2.rstrip(" ")

'Python Programming Langauge'

In [27]:
message2.strip(" ")

'Python Programming Langauge'

## Practice2
1. Stripping Names: Store a person’s name, and include some whitespace characters at the beginning and end of the name. Make sure you use each character combination, "\t" and "\n", at least once.
Print the name once, so the whitespace around the name is displayed.
Then print the name using each of the three stripping functions, lstrip(),
rstrip(), and strip().

In [28]:
name=" \n\tA\n\ts\n\th\n\tl\n\te\n\ty"
print(name)

	A
	s
	h
	l
	e
	y

In [29]:
print(name.strip(" "))

	A
	s
	h
	l
	e
	y

In [41]:
print(name.rstrip(" l"))

	A
	s
	h
	l
	e
	y

#### Replacing words or characters of a string

In [32]:
new_message

'Would You Like To Learn Some Python Today'

In [36]:
new_message.replace('Python' , 'Java')

'Would You Like To Learn Some Java Today'

In [39]:
new_message=new_message.replace('P','p')

In [40]:
new_message

'Would You Like To Learn Some python Today'

# Number

# Data Types
* `float` (floating point) - used for real numbers.
* `int` (integer) - used for integers.

## Arithmetic Operator
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `–` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

`Floor division` is an operation in Python that divides two numbers and rounds the result down to the nearest integer.

In [42]:
2**3 #exponent

8

In [44]:
222**1

222

In [45]:
9/4 # true division

2.25

In [46]:
9//4 #floor division

2

In [48]:
13//4 #floor division

3

In [50]:
13/4 #true division

3.25

In [51]:
13%4 #remainder

1

## Avoiding Type Errors with the str() Function

In [52]:
print("Ella is 21 years old")

Ella is 21 years old

In [55]:
name= 'Ella'
age=21
print(name+ '' + 'is' + ' ' + str(age) + ' ' + 'years old') #str changed an int to a string

Ellais 21 years old

## Practice3 
1. Write addition, subtraction, multiplication, and division
operations that each result in the number 91. Be sure to enclose your operations
in print statements to see the results. You should create four lines that look
like this:
print(53 + 38)
Your output should simply be four lines with the number 91 appearing once
on each line.
2. Favorite Number: Store your favorite number in a variable. Then, using
that variable, create a message that reveals your favorite number. Print that
message.

In [56]:
print('the addition ' , (53+38))

the addition  91

In [58]:
print('the subtraction ', (100-9))

the subtraction  91

In [59]:
print('the multiplication ' , (91*1))

the multiplication  91

In [60]:
print(' the division ' , (182/2))

 the division  91.0

In [61]:
fav_number= 222
print('My favorite number is: ' , fav_number)

My favorite number is:  222

## Getting Input from the User
* Built-in **`input` function** requests and obtains user input.

In [62]:
message_input= input("Enter your name: ")

Enter your name: Ashley

In [63]:
new_variable=input("Enter the name of your favorite insect: ")

Enter the name of your favorite insect: butterfly

In [64]:
print(type(new_variable))

<class 'str'>

## Getting an Integer/ Float from the User
* If you need an integer, convert the string to an integer using the built-in **`int` / `float` function**.

In [67]:
number= int(input("Enter a number: "))

Enter a number: 45

In [69]:
type(number)

int

In [70]:
number1=float(input("Enter a floating point number: "))

Enter a floating point number: 22.2

In [71]:
type(number1)

float

In [72]:
print(type(number1))

<class 'float'>

## Checking the data type using `type` function

###using the variable called type()

## Errors in Python
When an error occurs in your program, the Python interpreter does its
best to help you figure out where the problem is. The interpreter provides
a traceback when a program cannot run successfully. A traceback is a record
of where the interpreter ran into trouble when trying to execute your code.
Errors can be classified into three major groups:
- Syntax errors
- Runtime errors
- Logical errors

### Syntax error.
- Python will find these kinds of errors when it tries to parse your program, and exit with an error message without running anything. 
- Syntax errors are mistakes in the use of the Python language, and are analogous to spelling or grammar mistakes in a language like English: for example, the sentence Would you some tea? does not make sense – it is missing a verb.

### Example:
- leaving out a keyword
- putting a keyword in the wrong place
- leaving out a symbol, such as a colon, comma or brackets
- misspelling a keyword
- incorrect indentation
- empty block

In [74]:
print('This is an error message)

SyntaxError: EOL while scanning string literal (2784193178.py, line 1)

In [76]:
len('Hello')=5

SyntaxError: cannot assign to function call (4258668134.py, line 1)

In [77]:
1='pyton'

SyntaxError: cannot assign to literal (922040213.py, line 1)

## Runtime error
- A program with a runtime error is one that passed the interpreter’s syntax checks, and started to execute. 
- However, during the execution of one of the statements in the program, an error occurred that caused the interpreter to stop executing the program and display an error message. 
- Runtime errors are also called `exceptions` because they usually indicate that something exceptional (and bad) has happened.

### Examples: 
- division by zero.
- performing an operation on incompatible types.
- using an identifier which has not been defined.
- accessing a list element, dictionary value or object attribute which doesn't exist.
- trying to access a file which doesn't exist.

In [78]:
15/0

ZeroDivisionError: division by zero

In [ ]:
subTotal=input("Enter an amount: ")
tax=0.06 * subTotal
print("tax on", subTotal, "is", tax)

In [80]:
subTotal=input("Enter an amount: ")
tax=0.06 * subTotal
print("tax on", subTotal, "is", tax)

Enter an amount: 60

TypeError: can't multiply sequence by non-int of type 'float'

### Logical error
- Logical errors are the most difficult to fix. They occur when the program runs without crashing, but produces an incorrect result. 
- The error is caused by a mistake in the program’s logic. 
- You won’t get an error message, because no syntax or runtime error has occurred. 
- You will have to find the problem on your own by reviewing all the relevant parts of your code

In [82]:
number1=int(input("enter number1: "))
number2=int(input("Enter number2: "))
print("the mulitiplication of number1 and number2 is: ", number1+number2)
# telling that we did multiplication but we did addition instead

enter number1: 2
Enter number2: 6
the mulitiplication of number1 and number2 is:  8